.su-story-detail .hero--basic.bg--teal {
    
    background-color: #808080!important;
}

.su-story-detail .bg--teal.bg--gradient {

    background-image: -webkit-gradient(linear, left top, right bottom, from(#808080), to(#A9A9A9))!important;
    background-image: linear-gradient(to bottom right, #808080, #A9A9A9)!important;
}



@media print, screen and (min-width: 48.0625em) {

    .su-story-detail .hero--basic.bg--teal {
    
        background-color: #808080!important;
    }

    .su-story-detail .bg--teal.bg--gradient {

        background-image: -webkit-gradient(linear, left top, right bottom, from(#808080), to(#A9A9A9))!important;
        background-image: linear-gradient(to bottom right, #808080, #A9A9A9)!important;
    }
}