.su-story-detail .hero--basic.bg--teal {
    
    background-color: #808080!important;

}

.su-story-detail .bg--teal.bg--gradient {

    background-image: -webkit-gradient(linear, left top, right bottom, from(#808080), to(#A9A9A9))!important;
    background-image: linear-gradient(to bottom right, #808080, #A9A9A9)!important;

}


/* .su-story-detail .amplified--suffix {

    line-height: 2.5;

}


.su-story-detail .grid-margin-x .large-3 {

    margin-top: auto;
    
}


.su-story-detail .large-3 .global-margin--3x {

    margin-top: 0;
    margin-top: 0;

} */


/* @media print, screen and (min-width: 64.0625em) {

    .su-story-detail h1 {

        font-size: 4rem;
    
    }

    .su-story-detail p {

        font-size: 0.9375rem;

    }

    .su-story-detail .hero--basic {

        padding-bottom: 2rem;

    }

} */

@media print, screen and (min-width: 48.0625em) {

    .su-story-detail .hero--basic.bg--teal {
    
        background-color: #808080!important;
}

.su-story-detail .bg--teal.bg--gradient {

    background-image: -webkit-gradient(linear, left top, right bottom, from(#808080), to(#A9A9A9))!important;
    background-image: linear-gradient(to bottom right, #808080, #A9A9A9)!important;

}


.su-story-detail .amplified--suffix {

    line-height: 2.5;

}


.su-story-detail .grid-margin-x .large-3 {

    margin-top: auto;
    
}


@media print, screen and (min-width: 48.0625em) {

    .su-story-detail .hero--basic .grid-margin-x {

        padding-bottom: 4rem;

    }
}

    .su-story-detail .large-3 .global-margin--3x {

        margin: 5rem;

    }
}


@media print, screen and (min-width: 64.0625em) {

    .su-story-detail h1 {

        font-size: 4rem;
    
    }

    .su-story-detail p {

        font-size: 0.9375rem;

    }

    .su-story-detail .hero--basic .grid-margin-x {

        padding-bottom: 4rem;

    }

    .su-story-detail .large-3 .global-margin--3x {

        margin: 0;

    }

}